:root {
  --header-color: #fff;
  --header-text-color: #151515;
  --header-hover-border: #FF5252;
  --inter-font-family: 'Inter';
  --mplus-font-family: 'M PLUS 1';
  --book-button-color: #FF5252;
  --book-button-text-color: #F7F7F7;
}

/* NAVIGATION */
header {
  width: 100vw;
  height: 64px;
  background: var(--header-color);
  box-shadow: 0px 6px 70px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  font-family: var(--inter-font-family);
  padding: 0 8vw;
}

.menu-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  margin: auto;
}

.logo-wrap {
  width: 50px;
  min-height: 40px;
}

.logo-wrap .logo {
  color: var(--header-text-color);
}

/* =====================
    Mobile Nav closed
====================== */
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  transition: height .0s ease-out .4s, opacity .2s ease-out .2s, top .2s ease-in 0s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  top: -100%
}

.nav-item {
  display: block;
  padding: 8px 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
  margin-bottom: 32px;
}

.nav-item:first-of-type {
  margin-top: 100px;
}

a.nav-item {
  text-decoration: none;
}

.nav-item span {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--header-hover-border);
}

.drop-trigger {
  z-index: 4;
  cursor: pointer;
}

/* Checkbox used for toggle */
#nav-tog {
  display: none;
}

#nav-tog:checked~.main-nav {
  transition: height .23s ease-in 0s, opacity .2s ease-in 0s, top .23s ease-out .21s;
  opacity: 0.95;
  height: 100vh;
  top: 0%;
  overflow-y: scroll;
}

.primary-btn,
.secondary-btn {
  color: white;
  display: inline-block;
  background-color: var(--book-button-color);
  text-shadow: none;
  font-weight: 400;
  color: var(--book-button-text-color);
  width: 15vw;
  text-align: center;
  padding: 12px 0;
  font-family: var(--inter-font-family);
  font-size: 1.5vw;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px 20px 0 20px;
  transition: 0.3s;
}

.secondary-btn {
  color: var(--header-text-color);
  background-color: var(--book-button-text-color);
  border: 1px solid #151515;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #EE2B2B;
}

.primary-btn:active {
  background-color: #E02828;
}

/* ============================
    Large screen nav
============================= */
@media screen and (min-width: 744px) {
  header {
    height: 88px;
  }

  /* Hides mobile-specific elements */
  .drop-trigger {
    display: none;
  }

  .main-nav {
    height: auto;
    position: relative;
    top: 0%;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
  }

  .nav-item:first-of-type {
    margin-top: 0;
  }

  .nav-item {
    font-size: 18px;
    width: auto;
    margin-bottom: 0;
  }

  .nav-item:not(:first-child) {
    margin-left: 56px;
  }
}
