:root {
  --header-color: #fff;
  --header-text-color: #151515;
  --header-hover-border: #FF5252;
  --inter-font-family: 'Inter';
  --mplus-font-family: 'M PLUS 1';
  --book-button-color: #FF5252;
  --book-button-text-color: #F7F7F7;
}

/* NAVIGATION */

#nav-toggle {
  display: none;
}

header {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
  font-family: var(--inter-font-family), sans-serif;
}

#nav-logo {
  margin-left: 8.33%;
  width: 20%;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none
}

nav ul li {
  padding-right: 7%;
}

nav a {
  /* Don't shrink lesser than 16px */
  font-size: max(1.2vw, 16px);
  padding: 4px 0;
  color: var(--header-text-color);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1px solid var(--header-hover-border);
}

#nav-phone {
  /* width: 50%; */
  white-space: nowrap;
  font-size: max(2vw, 20px);
  font-weight: 500;
  padding: 0 9%;
}

@media only screen and (max-width: 820px) {
  #nav-toggle {
    display: block;
  }

  nav {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  nav ul {
    /* display: none; */
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    min-width: 100vw;
    left: 0;
    top: 88px;
    z-index: 999;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    background-color: var(--header-color);
  }

  nav li {
    margin: 16px 0;
    transition: all;
    z-index: 3;
  }

  .collapsed {
    display: none;
    height: 0;
    background-color: var(--header-color);
  }
}